@import url(https://fonts.googleapis.com/css?family=Merriweather);

$primary-very-low: mix(
  $color-1: #2b2627,
  $color-2: #E5E5E5,
  $weight: 3%,
);
$primary-low: mix(
  $color-1: #2b2627,
  $color-2: #E5E5E5,
  $weight: 10%,
);
$primary-low-mid: mix(
  $color-1: #2b2627,
  $color-2: #E5E5E5,
  $weight: 30%,
);
$primary-medium: mix(
  $color-1: #2b2627,
  $color-2: #E5E5E5,
  $weight: 50%,
);
$primary-high: mix(
  $color-1: #2b2627,
  $color-2: #E5E5E5,
  $weight: 70%,
);
$primary-very-high: mix(
  $color-1: #2b2627,
  $color-2: #E5E5E5,
  $weight: 85%,
);
$secondary-low: mix(
  $color-1: #E5E5E5,
  $color-2: #2b2627,
  $weight: 30%,
);
$secondary-medium: mix(
  $color-1: #E5E5E5,
  $color-2: #2b2627,
  $weight: 50%,
);
$secondary-high: mix(
  $color-1: #E5E5E5,
  $color-2: #2b2627,
  $weight: 70%,
);
$secondary-very-high: mix(
  $color-1: #E5E5E5,
  $color-2: #2b2627,
  $weight: 93%,
);
:root {
  --primary-very-low: #{$primary-very-low};
  --primary-low: #{$primary-low};
  --primary-low-mid: #{$primary-low-mid};
  --primary-medium: #{$primary-medium};
  --primary-high: #{$primary-high};
  --primary-very-high: #{$primary-very-high};
  --secondary-low: #{$secondary-low};
  --secondary-medium: #{$secondary-medium};
  --secondary-high: #{$secondary-high};
  --secondary-very-high: #{$secondary-very-high};
}
body, h1, h2, h3, h4, h5, h6, .form-vertical .control-label {
  font-family: 'Merriweather', sans-serif;
}

.search-menu .search-input, .list-controls .combo-box .combo-box-header, .search-menu .search-input input#search-term {
  border-color: var(--primary-low);
  background-color: #fff;
}

.btn-primary, #create-topic, .banner-box .row .single-box .btn.btn-icon-text {
  background-color: var(--primary);
  color: var(--secondary);
  .d-icon {
    color: var(--secondary);
  }

  &:hover {
    background-color: var(--primary-very-high);
    color: var(--secondary-very-high);
    .d-icon {
      color: var(--secondary-very-high);
    }
  }
}

.discourse-no-touch .btn-primary:hover {
  background-color: var(--primary-very-high);
  color: var(--secondary-very-high);
  .d-icon {
    color: var(--secondary-very-high);
  }
}

#main .banner-box {
  .container {
    max-width: calc(100% - 16px);
    width: 1110px;
  }
  .row .first_column {
    padding-top: 80px;
    text-align: left;
    font-size: 27px;
    font-weight: 900;

    p {
      margin-bottom: 0.5em;
    }

    .btn {
      font-size: var(--font-down-4);
    }
  }

  .row .second_column {
    padding-bottom: 0;
  }
}

.custom-footer {
  .wrap {
    max-width: 539px;
  }
  .second-box {
    display: none;
  }

  .first-box {
    .heading {
      margin-bottom: 1em;
      &::before {
        content: "";
        content: "";
        width: 10em;
        height: 5em;
        padding: 2em 10em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15em;
        background-image: url('https://aws1.discourse-cdn.com/standard11/uploads/scarlet/original/1X/81999014f629ab76688fb76e3f8aa609b5ddba4c.png');
      }
    }

    .blurb {
      color: #fff;
      font-size: 18px;
    }
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .third-box {
    display: flex;
    border: none;
    .footer-links {
      width: 100%;
      justify-content: space-between;
      display: flex;
      padding: 1.5em 1em;

      .small-link {
        color: var(--quaternary);
        font-size: var(--font-0);
        font-weight: 500;
      }
    }
  }
}

.topic-list {
  border-collapse: separate;
  border-spacing: 0 0.5em;
  display: contents;
  .topic-list-header {
    display: contents;
    tr {
      display: flex;
      border-bottom: none;

      .topic-list-data.default {
        width: 85%;
      }
    }
  }

  .topic-list-body {
    display: contents;
    tr.topic-list-item {

      td.main-link {
        padding: 1em;
      }

      td.last-post {
        padding: 1.5em;
      }
      display: flex;
      margin-bottom: 0.5em;
      border: 1px solid var(--primary-low);
      border-radius: 0.25em;

      &:not(.visited) {
        border-left: 4px solid var(--quaternary);
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.808);
      }

      .main-link {
        width: 85%;

        &.clearfix::before,
        &.clearfix::after {
          content: none;  
        }

        .header {
          margin-bottom: 0.5em;
        }
      }

      &.visited {
        .discourse-tag {
          opacity: 0.75;
        }
        &:hover {
          .discourse-tag {
            opacity: 1;
          }
        }
      }
      &:hover {
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.12);
        transition: 10ms box-shadow ease-in;
        background-color: #fff;
      }

    }
  }
}

.nav-pills>li a {
  &.active {
    background-color: transparent;
    color: var(--primary);
    border-bottom: 3px solid var(--quaternary);
  }
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.select-kit.combo-box .select-kit-header,
.d-editor-textarea-wrapper,
div.ac-wrap,
.navigation-container .navigations .search-input,
.select-kit.single-select.dropdown-select-box .select-kit-header,
.btn,
.list-controls .nav-pills .navigation-toggle,
.mobile-nav>li>a.expander,
.top-sub-section u,
.badge-card,
.badge-card svg.d-icon,
.badge-card,
.top-section.stats-section ul,
.top-sub-section ul,
.heatmap-high,
.post-date,
.topic-map section.map.map-collapsed,
.topic-map,
.category-boxes .category-box,
.search-menu .results .search-result-topic .list .item,
.search-menu .results .search-result-topic .list .item a,
.fps-result,
.user-stream .item, .user-stream .user-stream-item {
  border-radius: 4px;
}

.directory .directory-table-container .directory-table, .admin-contents table {
  border-collapse: separate;
  border-spacing: 0 0.5em;

  td, th {
    border: none;
  }

  tr {
    margin: 1em;
    background-color: #fff;

    &:hover {
      background-color: #fff;
    }

    td {
      border-top: 1px solid var(--primary-low);
      border-bottom: 1px solid var(--primary-low);
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 0.5em;
    }

    td:first-child {
      border-left: 1px solid var(--primary-low);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    td:last-child {
      border-right: 1px solid var(--primary-low);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.category-boxes .category-box-inner, .category-boxes-with-topics .category-box-inner {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-menu .results .search-result-topic .list .item {
  border: 1px solid var(--primary-low);
  margin-bottom: 0.5em;

  a:hover {
    background-color: #fff;
  }
}

.user-content .topic-list .topic-list-body tr.topic-list-item {
  border-left: 4px solid var(--quaternary);
  background-color: #fff;
}

.user-content .user-notifications-filter {
  border: none;
}

.user-stream .notification.unread {
  background-color: #fff;
}

.user-stream .notification:not(.unread) {
  background-color: transparent;
  border-left: 1px solid var(--primary-low);
}

.search-container .search-advanced .search-info {
  margin-bottom: 0;
}

.fps-result, .user-stream .item, .user-stream .user-stream-item {
  border: 1px solid var(--primary-low);
  margin-bottom: 0.5em;
  padding: 1em;
  background-color: #fff;
  border-left: 4px solid var(--quaternary);
}

.user-content {
  padding: 0 1em;
}

.navigation-container {
  --nav-space: 0.5em;
  margin-bottom: 1em;
}

.nav.nav-pills {
  border-bottom: 1px solid var(--primary-low);
}

.replies-section li, .topics-section li, .links-section li {
  display: flex;
  flex-direction: column;
}

.top-sub-section .topic-info {
  order: 3;
}

.top-sub-section br {
  display: none;
}

.top-sub-section ul {
  background-color: #fff;
  border: 1px solid var(--primary-low);

  li {
    border-left: none;
    padding: 1em 0;
    margin: 0.5em 1.5em;

    &:not(:last-child) {
      border-bottom: 1px solid var(--primary-low);
    }
  }
}

.stats-section li .user-stat {
  display: grid;

  .label {
    text-transform: capitalize;
  }
}

.top-section.stats-section ul {
  background-color: #fff;
  border: 1px solid var(--primary-low);
  padding: 1em 0 0.5em 1.5em;

  li {
    width: 17.5%;
  }

  li.linked-stat {
    padding-right: 14px;
  }

  li:first-child,
  li:not(:nth-child(4n+1)) {
    .user-stat {
      padding-right: 1em;
      border-right: 1px solid var(--primary-low);
    }
  }
}

.badge-card {
  background-color: #fff;
  border: 1px solid var(--primary-low);

  .badge-contents svg.d-icon {
    background-color: var(--secondary);
    padding: 0.125em;
    border: 2px solid var(--primary-low);
  }
}

.user-secondary-navigation .nav-stacked {
  border-right: 1px solid var(--primary-low);
}

.user-secondary-navigation .nav-stacked a.active {
  border-left: 2px solid var(--quaternary);
}

.btn.btn-icon.pad-left::after {
  content: "Edit";
  margin-left: 0.5em;
}

.pref-email .email-second .primary {
  color: var(--quaternary);
}

.form-vertical .control-label,
.form-vertical .controls {
  margin-bottom: 0.75em;
}

.pref-email .email-first {
  margin-bottom: 0.25em;
}

.heatmap-high, .post-date {
  color: var(--primary);
  background-color: var(--primary-low);
  padding: 0.5em 0.65em;
  font-size: var(--font-0);
  line-height: normal;
}

.heatmap-high, .heatmap-high a, .heatmap-high .d-icon, .heatmap-high .d-button-label, .topic-meta-data .post-info a {
  color: var(--primary) !important;
}

.topic-map section {
  background-color: #fff;
}

.topic-map section.map {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.topic-map section.topic-map-expanded {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  section:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.topic-map .map {
  border-top: none;
}

.topic-map {
  border-top: 1px solid var(--primary-low);
}

.map:first-of-type .buttons .btn {
  height: 50%;
  width: 50%;
}

.map:first-of-type .buttons {
  display: flex;
  align-items: center;
}

.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  align-self: center;
}

.summary-category-list li .category-stats span:first-of-type {
  border-right: 1px solid var(--primary-low);
  margin-right: 0.5em;
  padding-right: 0.5em;
}
