.top-section.most-liked-section {
  display: grid;
  grid-template-columns: 1fr;
  .top-sub-section {
    width: unset;
    flex: 1 0;
  }
}

.top-sub-section:last-child {
  ul {
    max-width: 100%;
  }
}

.top-section.most-liked-section {
  display: inline-flex;
  width: 100%;
}

.links-section a.domain {
  order: 2;
}
